*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#23241e;
}

.container
{
    background:#fff;
    width:100%;
    max-width:550px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:25px 35px;
    border-radius:10px
}

.container p{
    font-weight:700;
    font-size:15px;
    margin-bottom:8px;
}

.container input{
    width:100%;
    height:50px;
    border-radius:5px;
    padding:10px;
    margin:10px 0 20px;
    border:#494eea 1px solid;
    outline:0;
}
.container button{
    width:100%;
    height:50px;
    border-radius:5px;
    background:#494eea;
    color:#fff;
    font-weight:500;
    font-size:20px;
    border:0;
    outline:0;
    cursor:pointer;
    margin:20px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

#imgBox{
    width:300px;
    border-radius: 5px;
    max-height:0;
    overflow:hidden;
    transition: max-height 0.8s;
}
#imgBox img{
    width:100%;
    padding:10px;
}
#imgBox.show-img{
    max-height: 300px;
    border: 1px solid #d1d1d1;
    margin: 10px auto;
}

.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform:translateX(0px); 
    }
    25%{
        transform:translateX(-2px); 
    }
    50%{
        transform:translateX(0px); 
    }
    75%{
        transform:translateX(2px); 
    }
    100%{
        transform:translateX(0px); 
    }
    
}